.idea
.ideaDataSources
dataSources
build/
src/gen/
.gradle/
**/.classpath
**/.project
**/.settings
**/target
**/*.iml
**/*.imlt
release.properties
out/
**/generated/
**/*.ipr
**/*.iws
**/.DS_Store
.gcache
