<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017 Practice Insight Pty Ltd. All Rights Reserved.
  -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- See http://logback.qos.ch/manual/layouts.html#PatternLayout -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{128} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>

    <root>
        <!-- This is the default logger level INFO, but classes or packages can be easily -->
        <!-- specified/added above while under dev etc -->
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
